@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: #071330;
  font: normal 16px/1.6em 'Titillium Web', sans-serif;
  color: #738fa7;
}

h1 {
  color: #fff;
  padding-bottom: 0.3em;
  margin: 24px 0 16px 0;
  line-height: 1.25;
  margin: 96px 0;
}

.text-center {
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
}

ul li label {
  display: block;
  position: relative;
  margin: 0 16px;
  -webkit-tap-highlight-color: transparent;
}

ul li label input[type='checkbox'] {
  display: none;
  outline: none;
}

ul li label .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 64px;
  height: 64px;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.6),
    inset -1px -1px 1px rgba(0, 0, 0, 0.8), inset 1px 1px 2px rgba(0, 0, 0, 0.05);
}

ul li label input[type='checkbox']:checked + .icon {
  color: #00f3ff;
  text-shadow: 0 0 20px #00f3ff, 0 0 15px #00f3ff;
  top: 2px;
  left: 2px;
  box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.4),
    inset -1px -1px 1px rgba(0, 0, 0, 1), inset 1px 1px 2px rgba(0, 0, 0, 0.4);
  animation: animate 2.5s infinite;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
